<!-- <server-side-rendered-latex>
     Capture and render LaTeX markup via this passthrough render hook.

     See code in:
     /layouts/partials/custom_head.html        best, if loaded by theme
     /layouts/partials/extend_head.html        best, if loaded by theme
     /layouts/_default/baseof.html             otherwise, in <head>..</head>
     https://gohugo.io/functions/transform/tomath/#step-2
     https://gohugo.io/render-hooks/passthrough/
  -->
{{- $opts := dict "output" "htmlAndMathml" "displayMode" (eq .Type "block") }}
{{- with try (transform.ToMath .Inner $opts) }}
  {{- with .Err }}
    {{ errorf "Unable to render mathematical markup to HTML using the transform.ToMath function. The KaTeX display engine threw the following error: %s: see %s." . $.Position }}
  {{- else }}
    {{- .Value }}
    {{- $.Page.Store.Set "hasMath" true }}
  {{- end }}
{{- end -}}
<!-- </server-side-rendered-latex> -->
