<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
    site.Title }}{{ end }}</title>
  <!-- <client-side-rendered-latex>
       Enable client-side rendered LaTeX via JS libs MathJax or KaTeX.

       See code in:
       ./math.katex.html
       ./math.mathjax.html
       https://gohugo.io/content-management/mathematics/#step-3
       https://misha.brukman.net/blog/2022/04/writing-math-with-hugo/

       Place this code in:
       /layouts/partials/custom_head.html        best, if loaded by theme
       /layouts/partials/extend_head.html        best, if loaded by theme
       /layouts/_default/baseof.html             otherwise, in <head>..</head>
  {{ if .Param "math" }}
    {{ if false }}
      {{ partialCached "math.mathjax.html" . }}
    {{ else }}
      {{ partialCached "math.katex.html" . }}
    {{ end }}
  {{ end }}
    -->
  <!-- </client-side-rendered-latex> -->
  <!-- <server-side-rendered-latex>
       Load this style sheet when using Hugo's embedded KaTeX instance.

       See code in:
       /layouts/_default/_markup/render-passthrough.html
       https://gohugo.io/functions/transform/tomath/#step-3

       Place this code in:
       /layouts/partials/custom_head.html        best, if loaded by theme
       /layouts/partials/extend_head.html        best, if loaded by theme
       /layouts/_default/baseof.html             otherwise, in <head>..</head>
    -->
  {{ $noop := .WordCount }}
  {{ if .Page.Store.Get "hasMath" }}
    <link href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" rel="stylesheet">
  {{ end }}
  <!-- </server-side-rendered-latex> -->
</head>
<body>
  <header>
    <h1>{{ site.Title }}</h1>
    <hr>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
