<!-- https://gohugo.io/templates/types/#taxonomy
     https://gohugo.io/templates/taxonomy/#order-taxonomies

     Added here, since the current theme does not provide a taxonomy template
     to render a list of terms.

     Problem, 2025-02: Should list terms alphabetically, but not effective.
  -->
{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Data.Terms.Alphabetical }}
    <h2><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</h2>
  {{ end }}
{{ end }}
