{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<!-- <client-side-rendered-latex>
     Enable client-side rendered LaTeX via JS libs MathJax or KaTeX.

     See code in:
     ./math.katex.html
     ./math.mathjax.html
     https://gohugo.io/content-management/mathematics/#step-3
     https://misha.brukman.net/blog/2022/04/writing-math-with-hugo/

     Place this code in:
     /layouts/partials/extend_head.html        best, if loaded by theme
     /layouts/_default/baseof.html             otherwise, in <head>..</head>
{{ if .Param "math" }}
  {{ if true }}
    {{ partialCached "math.mathjax.html" . }}
  {{ else }}
    {{ partialCached "math.katex.html" . }}
  {{ end }}
{{ end }}
  -->
<!-- </client-side-rendered-latex> -->

<!-- <server-side-rendered-latex>
     Load this style sheet when using Hugo's embedded KaTeX instance.

     See code in:
     /layouts/_default/_markup/render-passthrough.html
     https://gohugo.io/functions/transform/tomath/#step-3

     Place this code in:
     /layouts/partials/extend_head.html        best, if loaded by theme
     /layouts/_default/baseof.html             otherwise, in <head>..</head>
{{ $noop := .WordCount }}
{{ if .Page.Store.Get "hasMath" }}
  <link href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" rel="stylesheet">
{{ end }}
  -->
<!-- </server-side-rendered-latex> -->

{{- /* Head custom content area end */ -}}
