<!-- <client-side-rendered-latex>
     MathJax:
     https://gohugo.io/content-management/mathematics/#step-2
     https://docs.mathjax.org/en/latest/web/start.html
     this will load the latest 3.x.x version:

     See code in:
     /layouts/partials/extend_head.html        best, if loaded by theme
     /layouts/_default/baseof.html             otherwise, in <head>..</head>
  -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<!-- the delimiters here must match the delimiters in config.yaml -->
<script>
    MathJax = {
        tex: {
            displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
            inlineMath: [['\\(', '\\)']], [['$`', '`$']]  // inline
        },
        loader:{
            load: ['ui/safe']
        },
    };
</script>
<!-- </client-side-rendered-latex> -->
