<!-- <client-side-rendered-latex>
     KaTeX:
     https://gohugo.io/content-management/mathematics/#engines
     https://cdn.jsdelivr.net/npm/katex@0.16.21/
     https://katex.org/docs/autorender

     See code in:
     /layouts/partials/extend_head.html        best, if loaded by theme
     /layouts/_default/baseof.html             otherwise, in <head>..</head>
  -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
  integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib"
  crossorigin="anonymous"
>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
  integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh"
  crossorigin="anonymous">
</script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
  integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body);">
</script>

<!-- the delimiters here must match the delimiters in config.yaml -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '\\[', right: '\\]', display: true},  // block
        {left: '$$', right: '$$', display: true},  // block
        {left: '\\(', right: '\\)', display: false},  // inline
        {left: '$`', right: '`$', display: false},  // inline
      ],
      throwOnError : false
    });
  });
</script>
<!-- </client-side-rendered-latex> -->
